/* Fuente para los títulos */
h1,
h2 {
  font-family: Arial, sans-serif;
}

/* Fuente para los párrafos */
p {
  font-family: Georgia, serif;
}

/* Color del header */
header {
  background-color: lightgray;
  color: darkblue;
  text-align: center;
  padding: 10px;
}

/* Color del título principal */
h1 {
  color: red;
}

/* Color del subtítulo */
h2 {
  color: green;
}

/* Estilo del footer */
footer {
  margin-top: 20px;
  font-style: italic;
}
