/* Título principal */
header h1 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

/* Enlaces del menú */
nav {
  text-align: center;
  margin: 10px;
}

nav a {
  color: blue;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-decoration: none;
  margin: 10px;
}

/* Subtítulos */
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: bold;
}

/* Texto de párrafos */
p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: darkgreen;
  font-style: normal;
}

/* Lista */
ul {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Aside */
aside {
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}

/* Footer */
footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}
